aiofiles==22.1.0
aiosqlite==0.18.0
alabaster==0.7.12
amqp==5.1.1
aniso8601==9.0.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
billiard==3.6.4.0
black==22.6.0
bleach==6.0.0
BTrees==4.10.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cligj==0.7.2
comm==0.1.2
contourpy==1.0.7
cryptography==39.0.2
css-html-js-minify==2.5.5
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
docutils==0.17.1
emergefs==0.0.5
executing==1.2.0
fastjsonschema==2.16.3
Fiona==1.9.1
flake8==5.0.4
fonttools==4.39.2
fqdn==1.5.1
future==0.18.2
geojson==3.0.1
geopandas==0.12.2
gevent==21.12.0
graphene==3.2.1
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==1.1.3
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
iniconfig==1.1.1
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
isoduration==20.11.0
isort==5.10.1
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.3
jupyter_client==8.0.3
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.20.0
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.2.4
littletable==2.1.1
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-dataclass==8.5.12
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.5
more-itertools==9.1.0
msgpack==1.0.4
munch==2.5.0
mypy==0.971
mypy-extensions==0.4.3
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.24.2
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
persistent==4.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==2.5.2
pluggy==1.0.0
prometheus-client==0.16.0
prompt-toolkit==3.0.30
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
Pygments==2.14.0
pyparsing==3.0.9
pyproj==3.4.1
pyrsistent==0.19.3
pytest==7.1.2
python-dateutil==2.8.2
python-json-logger==2.0.7
python-slugify==8.0.1
pytz==2022.2.1
PyYAML==6.0
pyzmq==25.0.1
readme-renderer==37.3
redis==4.3.4
requests==2.28.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.3.2
SecretStorage==3.3.3
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==5.3.0
sphinx-click==4.4.0
sphinx-material==0.0.35
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.2
terminado==0.17.1
text-unidecode==1.3
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
transaction==3.0.1
twine==4.0.2
types-redis==4.3.17
typing-inspect==0.8.0
typing_extensions==4.3.0
Unidecode==1.3.6
uri-template==1.2.0
urllib3==1.26.13
vine==5.0.0
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
wrapt==1.14.1
y-py==0.5.9
ypy-websocket==0.8.2
zc.lockfile==2.0
ZConfig==3.6.0
zerorpc==0.6.3
zipp==3.15.0
ZODB==5.7.0
zodbpickle==2.3
zope.event==4.5.0
zope.interface==5.4.0
